.navbar {
  background-color: #333; /* Dark grey color */
  width: 100%;
  padding: 5px 0;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.navbar-content {
  width: 100%; /* Adjust based on your design preferences */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.navbar-location-container {
  padding-right: 40px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.navbar-location-name {
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding-right: 40px;
  width: auto;
  white-space: nowrap;
}

.navbar-current-weather {
  display: flex;
  align-items: center;
  margin-right: 60px;
}

.navbar-temperature {
  color: white;
  font-size: 18px;
  margin-right: 20px;
}

.navbar-weather-icon {
  width: 20px;
  height: 20px;
}

/* Existing styles */

/* Additional styles for the search functionality */
.search-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Spacing between the search bar and the button */
  width: 100%;
}

input[type="text"] {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 60%; /* Set a relative width */
  max-width: 600px; /* Prevent it from becoming too wide on large screens */
}

button {
  padding: 5px 15px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.search-results {
  /* Styles for the dropdown or display of search results */
  position: absolute;
  top: 100%; /* Adjust to place it right below the search bar */
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px; /* Adjust width as needed */
  max-height: 300px;
  overflow-y: auto;
  z-index: 2; /* Make sure it appears on top of other content */
}

/* Add the following at the bottom of your Navbar.css */
@media (max-width: 768px) { /* You can adjust the breakpoint as necessary */
  .navbar-content {
    flex-direction: column;
    align-items: start;
  }

  .navbar-location-container,
  .navbar-location-name,
  .navbar-current-weather {
    padding-right: 20px;
  }

  .search-container {
    padding-left: 0;
    padding-bottom: 5px;
    width: 90%;
  }

  input[type="text"] {
    width: 80%; /* Adjust as necessary */
  }
}
