@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');


.cards-container {
  max-width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) { /* You may need to adjust this breakpoint */
  .cards-container {
    max-width: 80%;
  }
}

.card {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(0,0,0,0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.4s ease-out, box-shadow 0.4s ease-out;
}

.card-hover-effect:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}


body.night-theme .card {
  background-color: rgba(28, 39, 51, 0.9);
  color: #EAEDED;
}

body.day-theme .card {
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
  border: 1px solid rgba(221,221,221,0.5);
}


.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header h4 {
  line-height: 0.2; /* Adjust as needed. Default is usually around 1.3 to 1.5 */
  font-style: bold;
}

.weather-time {
  font-size: 0.9em;
  margin-top: -2px;
}

.center-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 20px 0;
}

.icon-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: -100px;
}

.icon-container img {
  width: 120px;  /* adjust this value to make your icon bigger or smaller */
  height: auto;
}

.temperature {
  flex: 1;
  font-size: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -120px;
  margin-left: -100px;
}

.feels-like {
  font-size: 15px;
  align-items: center;
  margin-top: -115px;
}


.bottom-content {
  width: 100%;
  display: flex;
  justify-content: space-between; /* space out the description and more details */
  align-items: center;
}

.weather-description, .more-details {
  font-size: 1em;
}


/* WeatherDisplay.css */
.haiku-container-jp {
  text-align: center;
  font-size: 22px;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 4.5px;
  line-height: 1.7;
  margin-bottom: 8px;
  height: 120px;
  overflow: hidden;
}

.haiku-container-en {
  text-align: center;
  font-size: 18px;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 8px;
  height: 120px;
  overflow: hidden;
}

body.day-theme .haiku-container-jp p {
  margin: 0;
  padding: 0;
  /* color: teal; */
}

body.night-theme .haiku-container-jp p {
  margin: 0;
  padding: 0;
  /* color: darkgoldenrod; */
}

.language-setting {
  text-align: center;
  font-size: 12px;
  color: gray;
}
