ul {
  list-style-type: none;
  padding-left: 0;
}

body {
  background-color: #F5F5F5;
  font-family: 'Roboto', sans-serif;
}

body.day-theme {
  background-color: #F0F3F4; /* or whatever color you want for day */
}

body.night-theme {
  background-color: #2C3E50; /* or whatever color you want for night */
}
