html {
  height: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

body {
  background-color: #F5F5F5;
  font-family: 'Roboto', sans-serif;
}

body.day-theme {
  background: linear-gradient(180deg,
  rgba(135,206,250,1) 20%,
  rgba(255,223,186,1) 100%);
}

body.night-theme {
  background-color: rgb(2,0,36);
  background: linear-gradient(180deg,
  rgba(1,0,20,1) 20%,
  rgba(10,35,66,1) 70%,
  rgb(40,62,81,1) 100%);
  background-repeat: no-repeat;


  /* rgba(40,62,81,1)
  rgba(10,35,66,1) */
}
